/* Fontes */
@font-face {
    font-family: Bebas;
    src: url(../fonts/bebas_neue/BebasNeue-Regular.ttf)
}
@font-face {
    font-family: Glacial;
    src: url(../fonts/glacial-indifference/GlacialIndifference-Regular.otf)
}
@font-face {
    font-family: Sacramento;
    src: url(../fonts/sacramento/Sacramento-Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
}

/* Seção 1 */
#header {
    background-image: url(../imagens/bg-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   
}



.img-bg img {
    position: relative;
    width: 100%;
    height: 100%;
}


.first-tittle {
    font-family: Sacramento;
    color: #fff;
    font-size: 9em;
    margin-bottom: 0.2em;  
}

.second-tittle{
    font-family: Glacial;
    color: #fff;
    font-size: 3em;
    margin-top: -40px;
    line-height: 1.1em;
} 


.img-bg img {
    position: relative;
    width: 100%;
    height: 100%;
}

.logos-store {
    margin-top: 3em;
    text-align: center;
    margin-left: -65px;
}

.logos-store-sm {
    margin-top: 3em;
    text-align: center;
}

.logos-store-sm img{
    width: 50%;
}

.logos-store-sm div p {
    font-family: Bebas;
    text-align: center;
    font-size: 1em;
} 

.logos-store div p {
    font-family: Bebas;
    text-align: center;
    font-size: 1.5em;
} 

.mock {
    max-width: 40em;
    margin: 40px;
    padding: 0.5em;
}

#header .logo {
    max-width: 20em;
    margin-left: 8em;
} 

#app-store {
    margin-left: -6em;
}

.footer-img-sec1 a img {
    width: 10%;
}



.flags a img {
    width: 4%;
    padding: 0.2em;
}

.img-arrow {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 50px;
    position: absolute;
}

.content {
    margin-top: 7em;
}

.mock img {
   width: 70%;
   height: 70%;
}

.logos-store img{
    width: 50%;
}

.logos-store div p {
    font-family: Bebas;
    text-align: center;
    color: #fff;
}

.logos-store-sm div p {
    font-family: Bebas;
    text-align: center;
    color: #fff;
}

/* Seção 2 */
.mauto {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10px;
}
#pilares{
    padding: 10px; 
}

.tcenter{
    text-align: center;
    width: 100%;
    height: 100%;
}

.tcenter h4 {
    font-weight: bold;
}

.txcenter {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: Glacial;
}

/*Seção 3*/
.capa {
    background-image: linear-gradient(to right, rgba(61, 190, 167, 0.25), rgba(255, 87, 87, 0.25));   
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

.fundo {
    position: relative;
}

.textos-esq {
    padding: 30px;
    width: 50%;
    color: #fff;
    height: 100%;
}

#color-section-3 {
    background: #a28d79;
}

.text-size div h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: Glacial;
}

.text-size div h4 {
    font-size: 2em;
    margin-top: 20px;
    font-family: Glacial;
}

/*Seção 4*/
div.textos-dir {
    padding: 30px;
    width: 50%;
    height: 100%;
    color: #000;
    float: right;
}

#color-section-4 {
    background: #d5c7b9;
}

.capa-esq {
    background-image: linear-gradient(to right, rgba(255, 87, 87, 0.25), rgba(61, 190, 167, 0.25));   
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

/*Seção 4*/
#color-section-5 {
    background: #5a554f;
}


/* Grid - Seção 6 */

#title-sec6 {
    font-family: Glacial;
    color: #fff;
    font-weight: bold;
    font-size: 4.5em;
    padding: 40px 90px;
    text-align: center;
}

.slider-item {
    text-align: center;
    width: 100%;
    padding: 0 200px;
    font-family: Glacial;
    font-size: 3em;
    color: #fff;
    height: 350px;
}

.text-slider {
    margin-top: 2em;
}




#slider-bg {
    background: #ff5757;
    width: 100%;
    height: 100%;
    background-size: 100% 100% !important;
}

/* seção 7 */

#last-div{
    width: 100%;
    height: 100%;
    background: #fff;
}

.logo-final {
    width: 50%;
    margin: 6em;
}

.align {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Glacial;
}

.item-sec7 {
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item-sec7-contact{
    font-size: 5em;
}

.item-sec7-mail {
    font-size: 3em;
}


.item-sec7 a img {
    width: 7%;
    margin: 0 2em;
}



#logo-mobile {
    width: 40%;
}


/* Media Queries */
@media (max-width:349.98px) {
    .text-size div h1 {
        font-size: 1em;
        font-weight: bold;
        width: 100%;
    }
    .txcenter h1 {
        font-size: 2em;
    }
    
    .text-size div h4 {
        font-size: 0.6em;
        margin-top: 10px;
    }
    #title-sec6 {
        font-size: 2em;
        padding: 20px 20px;
    }
    
    .slider-item {
        width: 100%;
        padding: 0 30px;      
        font-size: 1.2em;
        height: 170px;
    }
    
    .text-slider {
        margin-top: 1em;
    }
    #slider-bg {   
        height: 100%;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 50px;
    }
  
    .item-sec7-contact{
        font-size: 2.5em;
    }
    
    .item-sec7-mail {
        font-size: 0.8em;
    }
    
    
    .item-sec7 a img {
        width: 10%;
        margin: 0 1em;
        margin-bottom: 1em;
    }

    .mock {
        display: none;
    }
    #header .logo img {
        max-width: 5em;
        display: none;   
    } 

    .mock {
        display: none;
        margin: 0;
        padding: 0;
    }

    .mock img {
        display: none;
    }

    #logo-mobile {
        width: 18em;
        margin-top: 4em;
    }

    .great-devices {
        display: none;
    }
    .flags a img {
        width: 10%;
        margin-top: 0.6em;
    }

}


@media (min-width:350px) and (max-width: 575.98px) {
    .text-size div h1 {
        font-size: 1.2em;
        font-weight: bold;
        width: 100%;
    }
    .txcenter h1 {
        font-size: 2em;
    }
    
    .text-size div h4 {
        font-size: 0.8em;
        margin-top: 10px;
    }
    #title-sec6 {
        font-size: 2.2em;
        padding: 20px 20px;
    }
    .slider-item {
        width: 100%;
        padding: 0 60px;
        font-size: 1em;
        height: 145px;
    }
    .text-slider {
        margin-top: 0.8em;
    }
    #slider-bg {  
        width: 100%;
        height: 100%;
        background-size: 100% 100% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 50px;
    }
   
    .item-sec7-contact{
        font-size: 2.5em;
    }
    
    .item-sec7-mail {
        font-size: 0.9em;
    }
    
  
    .mock img {
        display: none;
    }

    .first-tittle {
        font-family: Sacramento;
        color: #fff;
        font-size: 5.5em;
        margin-bottom: 0.2em;  
    }
    
    .second-tittle{
        font-family: Glacial;
        color: #fff;
        font-size: 1.5em;
        margin-top: -40px;
        line-height: 1.1em;
    } 
    .logos-store img{
        width: 40%;
    }
    
    .logos-store div p {
        font-family: Bebas;
        text-align: center;
        color: #fff;
        font-size: 1em;
    }
    
    
    .flags a img {
        width: 10%;
        padding: 0.2em;
        margin-top: 0.6em;
    }

    #header {
        align-content: center;
        
    }

    #header .logo {
        max-width: 20em;
        /* margin-left: 4em; */
    } 

    #header .logo img {
        max-width: 5em;
        display: none;   
    } 

    .mock {
        display: none;
        margin: 0;
        padding: 0;
    }

    #logo-mobile {
        width: 18em;
        margin-top: 6em;
    }

    .great-devices {
        display: none;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {
    .text-size div h1 {
        font-size: 2em;
        font-weight: bold;
        width: 100%;
    }

    .txcenter h1 {
        font-size: 2.5em;
    }
    
    .text-size div h4 {
        font-size: 1.3em;
        margin-top: 10px;
    }
    .mauto {
        width: 35%;
        height: 35%;
        margin: auto;
        padding: 10px;
    }
    .tcenter {
        font-size: 1.3em;
    }
    .tcenter h4{
        font-size: 1.3em;
    }
    #title-sec6 {
        font-size: 2.5em;
        padding: 20px 20px;
    }
    .slider-item {
        width: 100%;
        padding: 0 70px;
        font-size: 1.5em;
        height: 170px;
    }
    .text-slider {
        margin-top: 1em;
    }
    #slider-bg {  
        width: 100%;
        height: 100%;
        background-size: 100% 100% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 50px;
    }
  
    .item-sec7-contact{
        font-size: 3.5em;
    }
    
    .item-sec7-mail {
        font-size: 1.5em;
    }
    .flags a img {
        width: 8%;
        padding: 0.2em;
        margin-top: 0.6em;
    }

    .mock {
        display: none;
        max-width: 0;
        margin: 0;
        padding: 0;
    }
   
    .mock img {
        display: none;
    }


    .great-devices {
        display: none;
    }

    #logo-mobile {
        width: 18em;
        margin-top: 6em;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .text-size div h1 {
        font-size: 3em;
        font-weight: bold;
        width: 100%;
    }

    .txcenter h1 {
        font-size: 3.5em;
    }
    
    .text-size div h4 {
        font-size: 2em;
        margin-top: 10px;
    }
    .mauto {
        width: 70%;
        height: 70%;
        margin: auto;
        padding: 10px;
    }
    .tcenter {
        font-size: 1.3em;
    }
    .tcenter h4{
        font-size: 1.3em;
    }
    #title-sec6 {
        font-size: 3.5em;
        padding: 50px 50px;
    }
    .slider-item {
        width: 100%;
        padding: 0 90px;
        font-size: 2em;
        height: 170px;
    }
    .text-slider {
        margin-top: -0.2em;
    }
    #slider-bg {  
        width: 100%;
        height: 100%;
        background-size: 100% 100% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 120px;
    }
  
    .item-sec7-contact{
        font-size: 4.5em;
    }
    .flags a img {
        width: 6%;
        padding: 0.2em;
        margin-top: 0.7em;
    }
    
    .item-sec7-mail {
        font-size: 2em;
    }
    .mock img {
        display: none;
    }
    

    #logo-mobile {
        display: none;
    }

    #mobile-content {
        display: none;
    }
 
    
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .text-size div h1 {
        font-size: 3.5em;
        font-weight: bold;
        width: 100%;
    }

 
    
    .text-size div h4 {
        font-size: 2.2em;
        margin-top: 10px;
    }
    .mauto {
        width: 85%;
        height: 85%;
        margin: auto;
        padding: 10px;
    }

    .txcenter h1 {
        font-size: 4.5em;
    }

    .tcenter {
        font-size: 1.4em;
    }
    .tcenter h4{
        font-size: 1.4em;
    }
    #title-sec6 {
        font-size: 3.9em;
        padding: 50px 50px;
    }
    .slider-item {
        width: 100%;
        padding: 0 110px;
        font-size: 2.5em;
        height: 170px;
    }
    .text-slider {
        margin-top: -0.2em;
    }
    #slider-bg {  
        width: 100%;
        height: 100%;
        background-size: 100% 100% !important;
    }
    .carousel-control-next, .carousel-control-prev {
        bottom: 120px;
    }
  
    .item-sec7-contact{
        font-size: 5.5em;
    }
    
    .item-sec7-mail {
        font-size: 2.5em;
    }
    
    #logo-mobile {
        display: none;
    }
    #mobile-content {
        display: none;
    }
   
}

@media (min-width: 1200px) {
    .text-size div h1 {
        font-size: 4.5em;
        font-weight: bold;
        width: 100%;
    }

    .txcenter h1 {
        font-size: 4.5em;
    }
    
    .text-size div h4 {
        font-size: 3.2em;
        margin-top: 10px;
    }
    .mauto {
        width: 60%;
        
        margin: auto;
        padding: 10px;
    }
    .tcenter {
        font-size: 1.8em;
    }
    .tcenter h4{
        font-size: 1.8em;
    }


    #logo-mobile {
        display: none;
    }
    #mobile-content {
        display: none;
    }
   
}

